body{
    margin: 0;
    padding: 0;
}

.header{
background-color: rgb(27, 25, 25);
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
    width: 10%;
    float: left;    
}

.menu{
    width: 80%;
    float: right;
}
.menu ul{
    float: right;
}
.menu ul li {
    list-style: none;
    float:left ;
}
.menu ul li a{
    text-decoration: none;
    color: blanchedalmond;
    padding: 0 25px;
    text-transform: uppercase;
}
.menu ul li:last-child a{
    padding-right: 0px;

}

.cover{
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.coverText{

    margin-top: 200px;
    margin-bottom: 300px;
    text-align: center;
    color: blanchedalmond;
}
.products{
    background-color:rgb(27, 25, 25);
    padding: 10px 0;
} 
.product1{
    width: 30%;
    float: left;
    margin: 1%;
}
.Ptext{
    color:blanchedalmond ;
}
.footer{
    background-color:rgb(27, 25, 25) ;
    border: 2px solid black;
}
.ftext{
    text-align: center;
    padding: 40px 0px;
    color:blanchedalmond ;
}
.ftext a{
    text-decoration: none;
    color: white;
}
.inquiry{
    background-color:rgb(27, 25, 25) ;
    padding: 200px;
    padding-left: 40%;

}

.wrapper form label{
    color: blanchedalmond ;
}


